$orange: #f4ad24;
$blue: #04c2c9;
$blueDarker: #00a1a7;
$lightGray: #616161;
$font: Raleway, sans-serif;

%fontSemiBold {
  font-family: $font;
  font-weight: 600;
}

%fontBold {
  font-family: $font;
  font-weight: 700;
}
