@import '../../variables.scss';

.about {
  height: 1000px;
  background-color: white;
  padding: 100px 0 200px 0;
}

.about-header {
  font-size: 40px;
  @extend %fontBold;
  text-align: center;
  color: #444649;
  opacity: 0;
}

.hr {
  width: 70px;
  height: 4px;
  background-color: #444649;
  margin: auto;
  margin-top: 25px;
  opacity: 0;
  animation-delay: 0.5s;
  margin-bottom: 100px;
}

.qualities {
  margin-bottom: 100px;
}
